.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: px;
	padding: 8px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 100%;
}

.search input:focus {
	outline: none;
}

